.container {
    margin: 20px;
    display: grid;
    height: 800px;
    /* grid-template-columns: 200px 5rem 20% auto; */
    grid-template-columns: [hd-start] repeat(4, [col-start] 20% [col-end]) [hd-end];
    grid-template-rows: [hd-start] 5rem [hd-end row-2-start] minmax(10px, 20rem) [row-2-end row-3-start] 100px [row-3-end];
    /* grid-column-gap: 20px;
    grid-row-gap: 10px; */
    grid-gap: 10px;
    grid-template-areas: "header header header header" 
                         ". side main main"
                         "footer footer footer footer";
    justify-items: stretch;
    align-items: stretch;
}

@media (max-width: 40rem) {
  .container {
    grid-template-rows: [hd-start] 5rem [hd-end row-2-start] minmax(10px, 20rem) [row-2-end row-3-start] 150px [row-3-end row-4-start] 100px [row-4-end];
    grid-template-areas: "header header header header" 
                         "main main main main"
                         "side side side side"
                         "footer footer footer footer";
  }
}

.el1 {
    background: rgba(255, 154, 72, 0.5);
    /* grid-column: col-start 2 / col-end 2; */
    grid-area: side;
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
    /* grid-column-start: 1;
    grid-column-end: -1; */
    /* grid-column: 1 / -1; */
    /* grid-row-start: row-2-start;
    grid-row-end: span 1; */
    /* grid-row: row-2-start / span 1; */
    z-index: 10;
    grid-area: main;
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    /* grid-column-start: 2;
    grid-column-end: span 3; 
    grid-row-start: row-1-start;
    grid-row-end: row-2-end; */
    grid-area: hd;
}

.el4 {
    background: rgba(0, 4, 255, 0.5);
    grid-area: footer;
}